/*Import de la police d'écriture adaptée au formes riches du GPSR*/
/* OK*/
@font-face{
    font-family: 'GrasseGPSR';
    src : url('../fonts/Grasse-GPSR15-Italic.woff');
}

@font-face{
    font-family: 'didotRomainGPSR';
    src : url('../fonts/DidotReg-GPSR15-Regular.woff');
}

/*La classe pour le style des formes affichées sur la map*/
.gpsr_formePatois{
    font-family: GrasseGPSR !important;
    font-size: 20pt;
    
}

/*La classe pour le style des formes affichées sur la map*/
.gpsr_formeFraReg{
    font-family: didotRomainGPSR !important;
    font-size: 20pt;
	font-weight: bold;
	
    
}

/* OK*/
/* la carte doit avoir une hauteur sinon elle n'apparaît pas */
#map {
    height: 1000px;
    width: 100%;
    margin: auto;
}

/* TODO */
/*paramètres de l'étiquette contenant la forme riche*/


.leaflet-tooltip{
	background: none !important;
    border: none !important;
    box-shadow: none !important;
}
.marker-cluster-medium {
    background-color: rgba(0, 142, 189, 0.3) !important; 

}

.marker-cluster-medium div {
    background-color: rgba(0, 142, 189, 0.6) !important;
}


/* OK */
path {
    fill: rgb(0,0,0,0.2);  
    stroke: rgb(0,51,153);
    stroke-width: 1px;
  }

path:hover {
	fill: rgb(0,0,0,0);
}
  
