/*
Fabrice Camus
Css pour l'Atlas
Projet : Unige - DH - Visualisation - SP 2021
*/

@font-face{
    font-family: 'GrasseGPSR';
    src : url('../fonts/Grasse-GPSR15-Italic.woff');
}

@font-face{
    font-family: 'didotRomainGPSR';
    src : url('../fonts/DidotReg-GPSR15-Regular.woff');
}

/*
	Polices du GPSR
*/
.gpsr_formePatois{
    font-family: GrasseGPSR !important;
    font-size: 20pt;
    
}
.gpsr_formeFraReg{
    font-family: didotRomainGPSR !important;
    font-size: 20pt;
	font-weight: bold;   
}

span p.gpsr_formePatois, span p.gpsr_formeFraReg{
	margin-left:15px;
	margin-top:0;
	padding-left:8px;
	border-left-style:dotted;
	border-left-width:1px;
}


/*
	Classes CSS pour affichage dans les popups
*/
.leaflet-popup-content .gpsr_formePatois{
    font-family: GrasseGPSR !important;
    font-size: 14pt;   
}

.leaflet-popup-content .gpsr_formeFraReg{
    font-family: didotRomainGPSR !important;
    font-size: 14pt;
	
}


/* la carte doit avoir une hauteur sinon elle n'apparaît pas */
#map {
    height: 1000px;
    width: 100%;
    margin: auto;
}


/*paramètres de l'étiquette contenant la forme riche*/
.leaflet-tooltip{
	background: none !important;
    border: none !important;
    box-shadow: none !important;
}


.marker-cluster-medium {
    background-color: rgba(0, 142, 189, 0.3) !important;
}

.marker-cluster-medium div {
    background-color: rgba(0, 142, 189, 0.6) !important;
}

/* Path=zone intéractive pour chaque canton */
path {
    fill: rgb(0,0,0,0.2);  
    stroke: rgb(0,51,153);
    stroke-width: 1px;
  }

path:hover {
	fill: rgb(0,0,0,0);
}
  
